/* .conteiner{
    border: solid green 5px;
    display: grid;
    grid-template-columns: 20% 80%;
    width: 100%;
    height: 100%;
} */
/* 
.aside{
    border: solid blue 5px;
    
}

.cards{
    border: solid fuchsia 6px;
} */