.conteiner{

    display: flex;
    height: 100px;

    justify-content: center;
    font-size: 18px;
    align-items: center;

}

button{
    background-color: none;
    border: none;
    margin: 10px;
    font-size: 18px;
    color: #991766;
    transition: all ease .2s;
}

.pages{
    color: #991766;
}


button:hover{
    background-color: rgba(0, 0, 0, .1);
    border-radius: 5px;
}